@import "../../../assets/styles/entry.scss";

.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.label {
  @include inputLabel();
}

.input {
  border: 1px solid $lightgray;
  border-radius: $radius-m;
  height: $ui-height-m;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
  transition: border $speed;
  @include text();
  &:hover {
    border: 1px solid rgba($accent, 0.4);
  }
  &:focus {
    border: 1px solid $accent;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.error {
  .input {
    border: 1px solid $error-color;
  }
}

.errorMessage {
  @include inputErrorMessage();
}
