@import "../../../../assets/styles/entry.scss";

.wrap {
  margin-top: 2px;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin-top: 8px;
  background-color: transparent;
  border: 1px solid $lightgray;
  border-radius: 4px;
  padding: 3px 3px 3px 8px;
  display: flex;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.value {
  @include caption-s();
  color: $accent;
  margin-right: 6px;
}
